**_Taller Objetos de Python_**

##### Samuel Alberto Diaz Aparicio

### 1. ¿Cuál de los siguientes NO es un tipo de objeto básico en Python?
- a) Números
- b) Cadenas de texto
- c) Conjuntos
- d) Funciones matemáticas


#### Rta: **_d) Funciones matematicas_**

### 2. En Python, los valores True y False pertenecen al tipo:
- a) Entero
- b) Booleano
- c) Cadena
- d) Conjunto

#### Rta: **_b) Booleano_**

### 3. ¿Cuál de los siguientes objetos se considera un tipo numérico en Python?
- a) int, float y complex
- b) str, int y tuple
- c) list, set y dict
- d) bool, tuple y set

### Rta: ***a) int, float y complex***

### **4. Que imprime este codigo**

In [ ]:

x = (1,2,3)
x[1]

#Rta: b) 2

2

### **5. ¿Cual es el error de este codigo?**

# Rta: c) las tuplas son inmutables

In [ ]:

t = (1,2,3)
t[0] = 10

TypeError: 'tuple' object does not support item assignment

### **6. ¿Que resultado produce?**

In [ ]:

s = {1,2,2,3,3}
print(s)

#Rta: b) {1,2,3}

{1, 2, 3}

### **7. ¿Cual es la salida?**

In [ ]:

palabra = "Mundo"
print(palabra[1:4])

#Rta: c) "und"

'und'

### **8.¿Que imprime?**

In [ ]:

lista = [10,20,30]
lista.append(40)
print(lista)

#Rta: b) [10,20,30,40]

[10, 20, 30, 40]

### **9.¿Que ocurre?**

# Rta: c) Error

In [ ]:

dic = {"a":1,"b":2}
print(dic["c"])

KeyError: 'c'

###**10. Elige la opcion correcta para obtener el valor 3 de este diccionario**

In [ ]:


d = {"x":1,"y":2,"z":3}
print(d["z"])

#Rta: a) d["z"]

3

### **11. ¿Que devuelve este codigo?**

In [ ]:

print(type(3.0))

#Rta: b) float

<class 'float'>

### **12. ¿Cual es el resultado?**

In [ ]:

x = [1,2,3]
y = x
y.append(4)
print(x)

#Rta: b) [1,2,3,4]

[1, 2, 3, 4]

### **13. El valor de resultado sera:**

In [ ]:

numeros = ["10","20","30"]
resultados = ",".join(numeros)
resultados

#Rta: b) "10,20,30"

'10,20,30'

###**14. Completa el código para convertir un conjunto a lista:**

In [ ]:

s = {1,2,3}
list(s)

# Rta: a) list(s)

[1, 2, 3]

### **15 Cual es la salida:**

# Rta: d) Error

In [ ]:

 Cadena = "Hola"
 print(Cadena*3)

IndentationError: unexpected indent (ipython-input-3413796144.py, line 2)

### **16. ¿Que valor imprime?**

In [ ]:

lista = [10,20,30]
print(lista[-1])

#Rta: c) 30

30

### **17.¿Qué contendrá precios después de ejecutar el código?**

In [ ]:

precios = [1200, 500, 3400, 800]
precios.sort()
precios

#Rta: a) [500, 800, 1200, 3400]

[500, 800, 1200, 3400]

### **18. ¿Cual es el error?**

# Rta: a) Los conjuntos sin indexables

In [ ]:

conjunto = {1,2,3}
print(conjunto[0])

TypeError: 'set' object is not subscriptable

###**19. ¿Qué devuelve?**

In [ ]:

len({"a": 1, "b": 2, "c": 3})

#Rta: b) 3

3

### **20.¿Qué resultado da?**

In [ ]:

lista = [1, 2, 3]
print(lista * 2)

#Rta: a) [1, 2, 3, 1, 2, 3]

[1, 2, 3, 1, 2, 3]

### **21.¿Qué ocurre?**

In [ ]:

d = {"a": 1}
d["a"] = 100
print(d)

#Rta: b){'a': 100}

{'a': 100}

### **22.¿Qué imprime?**

In [ ]:

print("python".upper())
#Rta: a) PYTHON

PYTHON

### **23. Completa el código para agregar el número 5 a un conjunto:**

In [ ]:

s = {1, 2, 3}
s.add(5)
s
#Rta: a) add

{1, 2, 3, 5}

###**24.¿Cuál es la salida?**

In [ ]:

d = {"x": 10, "y": 20}
print("x" in d)

#Rta: b) True

True

### **25. ¿Qué imprime?**

In [ ]:

print([1, 2, 3] == [1, 2, 3])

# Rta: a) True

True

### **26. ¿Qué se imprimirá en pantalla?**

In [ ]:

for i in range(5):
 print(i)

#Rta: c) 0 2 3 4

0
1
2
3
4

### **27. ¿Qué ocurre?**

# Rta: c) Lanza un error

In [ ]:

s = {1, 2, 3}
s.remove(4)

KeyError: 4

### **28. Tienes el siguiente texto:**
```
texto = "Colombia México Perú Chile"
paises = texto.split()
```
###¿Qué contendrá la variable paises?

In [ ]:

texto = "Colombia México Perú Chile"
paises = texto.split()
paises


#Rta: b) ['Colombia', 'México', 'Perú', 'Chile']

['Colombia', 'México', 'Perú', 'Chile']

### **29.¿Qué resultado produce valores?**

In [ ]:

ventas = "1000;2500;3200;4500"
valores = ventas.split(";")
valores

#Rta: a) ["1000", "2500", "3200", "4500"]

['1000', '2500', '3200', '4500']

### **30. ¿Cuál será el contenido de texto?**

In [ ]:

palabras = ["Economía", "Mercados", "Exportaciones"]
texto = " - ".join(palabras)
texto

#Rta: b) "Economía - Mercados - Exportaciones"

'Economía - Mercados - Exportaciones'

### **31. ¿Qué contendrá empresas después de ejecutar el código?**

In [ ]:

empresas = ["Amazon", "Google", "Microsoft", "Apple"]
empresas.sort()
empresas

#Rta:

['Amazon', 'Apple', 'Google', 'Microsoft']

### **32. ¿Qué contendrá la lista numeros?**

In [ ]:

numeros = list(range(2, 10, 2))
numeros

#Rta: a) [2, 4, 6, 8]

[2, 4, 6, 8]